In [1]:
print("Hello")

Hello

In [8]:
print("Hello \
      python ")

Hello       python

In [9]:
print(""" Hello""")

 Hello

In [10]:
print("python is my world")

python is my world

In [11]:
print("Hello\tPython")

Hello	Python

In [12]:
print("Hello\npython")

Hello
python

In [13]:
print('Python\ world')

Python\ world

In [16]:
name="raj"
marks= 12
age=12
print("the name of person is ",name,"mark is",marks,"age is",age)

the name of person is  raj mark is 12 age is 12

In [18]:
print("the name of person is %10s marks is %10f age is %10d"%(name,marks,age))

the name of person is        raj marks is  12.000000 age is         12

In [20]:
print(f"The name of person is {name} the marks is {marks} age is {age}")

The name of person is raj the marks is 12 age is 12

In [21]:
x = 20
id(x)

140728888042480

In [22]:
y= 10
id(y)

140728888042160

In [23]:
del y

In [24]:
x= y= 20
id(x)
id(y)

140728888042480

In [25]:
id(y)

140728888042480

In [26]:
2**2

4

In [27]:
10/3

3.3333333333333335

In [28]:
10//3

3

In [32]:
a = 10
c = 10
a == c

True

In [33]:
a = 10
10*40

400

In [34]:
bin(a)

'0b1010'

In [35]:
a & c

10

In [36]:
a>20 or 10 >8

True

In [37]:
a>20 and 10 >8

False

In [38]:
10<7 and 67>n

False

In [40]:
str ="neha"
"c " in str

False

In [41]:
a is c

True

In [42]:
2**-2

0.25

In [43]:
12>9>7

True

In [44]:
12>7>9

False